body {
	color: var(--gray);
	font: normal normal 100% / normal var(--primaryFont) !important;
}

a:link, a:visited {
	color: var(--gray);
	text-decoration: none;
}

a:hover {
	color: var(--amaranth);
	text-decoration: none;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1em;
}
